// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.home-body h2 {
    clear: both;
    text-align: center;
    padding: 200px 0;
    background-color: #E07933;
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 10px;
    color: #fff;
    text-shadow: 0 0 3px #000;
}