// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#left-side {
    float: left;
    width: 540px;
}
article {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 0 0 20px 0;

    figure {
        margin: 0 0 10px 0;
        img {
            width: 100%;
            border-radius: 3px;
            transition: opacity 1s ease 0s;
        }
        img:hover {
          opacity: .5;
        }
    }
    h1{
        font-weight: bold;
        font-size: 22px;
        border-bottom: 1px solid #000;;
        margin: 0 0 10px 0;
        padding: 0 0 10px 0;
    }
}

#right_side {
    width: 360px;
    height: auto;
    float: right;
}

.post-menue {
    list-style: none;
    height: 30px;
    padding-left: 30px;
    h2 {
        margin-bottom: 10px;
        font-size: 23px;
    }
}
.post-menue ul li {
    padding: 0 0 0 20px;
    height: 30px;
    font-size: 16px;
}

.show-img {
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  padding: 20px;
  h3 {
    font-size: 26px;
    padding: 0;
  }
  .description img {
    margin: 10px 10px 30px 0;
    float: left;
  }
}

section.info-nav header {
  background-color: #422814;
  color: #fff;
  padding: 8px;
}

section.info-nav header h2.post-title {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  font-family: 'Sriracha', cursive;
  padding: 0;
  margin: 0;
}

.footer_back {
  clear: both;
  text-align: center;
	font-size: 15px;
  border-top: 1px solid #d1d1d1;
}
