<header class="nav">
    <div class='wrapper'>
        <h1>Pictures-Test</h1>
        <nav>
            <ul>
                <li><%= link_to 'Home-Page', root_path %></li>
                <li><%= link_to 'Pictures', posts_path %></li>
            <ul>
        </nav>
    </div>
</header>
